server:
  port: 8080

spring:
  application:
    name: autoflex

  datasource:
    url: ${DB_URL:jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5433}/${DB_NAME:${POSTGRES_DB:autoflex}}}
    username: ${DB_USER:${POSTGRES_USER:autoflex}}
    password: ${DB_PASSWORD:${POSTGRES_PASSWORD:autoflex}}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
