server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/autoflex
    username: postgres
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false